body {
  margin:0px;
  background-color:rgba(253, 247, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9685 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:36px;
  width:100px;
  height:60px;
  display:flex;
}
#u9685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u9686 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:140px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u9686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u9687 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:268px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u9687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9688 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:96px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9688_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u9688_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u9688_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9689 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:200px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9689_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u9689_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u9689_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9690 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:328px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9690_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:105px;
}
#u9690_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:85px;
  width:20px;
  height:20px;
}
#u9690_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:84px;
}
#u9691 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:428px;
  width:166px;
  height:84px;
  display:flex;
  line-height:18px;
}
#u9691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u9692 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:680px;
  width:112px;
  height:64px;
  display:flex;
  line-height:18px;
}
#u9692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9693 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:512px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9693_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u9693_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u9693_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u9694 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:824px;
  width:112px;
  height:64px;
  display:flex;
  line-height:18px;
}
#u9694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9695 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:712px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9695_seg0 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-5px;
  width:86px;
  height:10px;
}
#u9695_seg1 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-247px;
  width:10px;
  height:252px;
}
#u9695_seg2 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-247px;
  width:59px;
  height:10px;
}
#u9695_seg3 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-252px;
  width:20px;
  height:20px;
}
#u9695_text {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:-128px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9696 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:744px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9696_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u9696_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:20px;
}
#u9696_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9697 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:936px;
  width:100px;
  height:60px;
  display:flex;
}
#u9697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9698 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:888px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9698_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u9698_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u9698_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:84px;
}
#u9699 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:428px;
  width:168px;
  height:84px;
  display:flex;
  line-height:18px;
}
#u9699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9700 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:512px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9700_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:10px;
}
#u9700_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u9700_seg2 {
  border-width:0px;
  position:absolute;
  left:-236px;
  top:27px;
  width:241px;
  height:10px;
}
#u9700_seg3 {
  border-width:0px;
  position:absolute;
  left:-236px;
  top:27px;
  width:10px;
  height:141px;
}
#u9700_seg4 {
  border-width:0px;
  position:absolute;
  left:-241px;
  top:153px;
  width:20px;
  height:20px;
}
#u9700_text {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9701 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:712px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9701_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:332px;
  height:10px;
}
#u9701_seg1 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:-247px;
  width:10px;
  height:252px;
}
#u9701_seg2 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:-247px;
  width:73px;
  height:10px;
}
#u9701_seg3 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:-252px;
  width:20px;
  height:20px;
}
#u9701_text {
  border-width:0px;
  position:absolute;
  left:268px;
  top:-21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9702 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:298px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9702_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:185px;
  height:10px;
}
#u9702_seg1 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-5px;
  width:10px;
  height:135px;
}
#u9702_seg2 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:115px;
  width:20px;
  height:20px;
}
#u9702_text {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u9703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u9703 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:571px;
  width:112px;
  height:64px;
  display:flex;
  line-height:18px;
}
#u9703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
