body {
  margin:0px;
  background-color:rgba(253, 247, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13889 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:828px;
  height:37px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13889 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:575px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13890 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:60px;
  width:516px;
  height:575px;
  display:flex;
}
#u13890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:575px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13891 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:60px;
  width:115px;
  height:575px;
  display:flex;
}
#u13891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:575px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13892 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:60px;
  width:197px;
  height:575px;
  display:flex;
}
#u13892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13894 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:99px;
  width:28px;
  height:28px;
  display:flex;
  color:#000000;
}
#u13894 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13895 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:76px;
  width:24px;
  height:24px;
  display:flex;
}
#u13895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13897 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:169px;
  width:28px;
  height:28px;
  display:flex;
  color:#000000;
}
#u13897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13898 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:144px;
  width:24px;
  height:24px;
  display:flex;
}
#u13898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13900 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:239px;
  width:28px;
  height:28px;
  display:flex;
  color:#000000;
}
#u13900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13901 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:214px;
  width:24px;
  height:24px;
  display:flex;
}
#u13901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13903 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:309px;
  width:28px;
  height:28px;
  display:flex;
  color:#000000;
}
#u13903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13904 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:284px;
  width:24px;
  height:24px;
  display:flex;
}
#u13904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13906 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:354px;
  width:24px;
  height:24px;
  display:flex;
}
#u13906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u13907 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:378px;
  width:28px;
  height:28px;
  display:flex;
  color:#1E1E1E;
}
#u13907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13910 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:171px;
  width:56px;
  height:28px;
  display:flex;
  color:#000000;
}
#u13910 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13910_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u13911 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:123px;
  width:56px;
  height:28px;
  display:flex;
  color:#1E1E1E;
}
#u13911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13912 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:73px;
  width:65px;
  height:28px;
  display:flex;
  color:#000000;
}
#u13912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13913 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:75px;
  width:24px;
  height:24px;
  display:flex;
}
#u13913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13914 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:124px;
  width:24px;
  height:24px;
  display:flex;
}
#u13914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13915 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:173px;
  width:24px;
  height:24px;
  display:flex;
}
#u13915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:71px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13917 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:271px;
  width:115px;
  height:71px;
  display:flex;
}
#u13917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13919 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:160px;
  width:197px;
  height:49px;
  display:flex;
}
#u13919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13921 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:73px;
  width:64px;
  height:28px;
  display:flex;
  font-size:16px;
}
#u13921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:2px;
}
#u13922 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:104px;
  width:433px;
  height:1px;
  display:flex;
}
#u13922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:14px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Regular', 'Noto Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13924 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:120px;
  width:121px;
  height:14px;
  display:flex;
  font-family:'Noto Sans Regular', 'Noto Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13924 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Regular', 'Noto Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13926 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:145px;
  width:115px;
  height:14px;
  display:flex;
  font-family:'Noto Sans Regular', 'Noto Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13926 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13927 label {
  left:0px;
  width:100%;
}
#u13927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13927 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:143px;
  width:14px;
  height:16px;
  display:flex;
}
#u13927 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u13927_img.selected {
}
#u13927.selected {
}
#u13927_img.disabled {
}
#u13927.disabled {
}
#u13927_img.selectedDisabled {
}
#u13927.selectedDisabled {
}
#u13927_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13927_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13929 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:172px;
  width:105px;
  height:14px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13929 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13930 label {
  left:0px;
  width:100%;
}
#u13930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13930 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:170px;
  width:14px;
  height:16px;
  display:flex;
}
#u13930 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u13930_img.selected {
}
#u13930.selected {
}
#u13930_img.disabled {
}
#u13930.disabled {
}
#u13930_img.selectedDisabled {
}
#u13930.selectedDisabled {
}
#u13930_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13930_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13932 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:200px;
  width:105px;
  height:14px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13932 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13933 label {
  left:0px;
  width:100%;
}
#u13933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13933 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:199px;
  width:14px;
  height:16px;
  display:flex;
}
#u13933 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u13933_img.selected {
}
#u13933.selected {
}
#u13933_img.disabled {
}
#u13933.disabled {
}
#u13933_img.selectedDisabled {
}
#u13933.selectedDisabled {
}
#u13933_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13933_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13935 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:227px;
  width:105px;
  height:14px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13935 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13936 label {
  left:0px;
  width:100%;
}
#u13936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13936 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:226px;
  width:14px;
  height:16px;
  display:flex;
}
#u13936 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u13936_img.selected {
}
#u13936.selected {
}
#u13936_img.disabled {
}
#u13936.disabled {
}
#u13936_img.selectedDisabled {
}
#u13936.selectedDisabled {
}
#u13936_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13936_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13938 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:254px;
  width:105px;
  height:14px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13938 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13939 label {
  left:0px;
  width:100%;
}
#u13939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13939 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:253px;
  width:14px;
  height:16px;
  display:flex;
}
#u13939 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u13939_img.selected {
}
#u13939.selected {
}
#u13939_img.disabled {
}
#u13939.disabled {
}
#u13939_img.selectedDisabled {
}
#u13939.selectedDisabled {
}
#u13939_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13939_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13941 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:281px;
  width:105px;
  height:14px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13941 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13942 label {
  left:0px;
  width:100%;
}
#u13942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13942 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:280px;
  width:14px;
  height:16px;
  display:flex;
}
#u13942 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u13942_img.selected {
}
#u13942.selected {
}
#u13942_img.disabled {
}
#u13942.disabled {
}
#u13942_img.selectedDisabled {
}
#u13942.selectedDisabled {
}
#u13942_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13942_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13944 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:309px;
  width:105px;
  height:14px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13944 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13945 label {
  left:0px;
  width:100%;
}
#u13945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13945 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:308px;
  width:14px;
  height:16px;
  display:flex;
}
#u13945 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u13945_img.selected {
}
#u13945.selected {
}
#u13945_img.disabled {
}
#u13945.disabled {
}
#u13945_img.selectedDisabled {
}
#u13945.selectedDisabled {
}
#u13945_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13945_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(54, 54, 54, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13947 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:336px;
  width:105px;
  height:14px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13947 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13948 label {
  left:0px;
  width:100%;
}
#u13948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13948 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:335px;
  width:14px;
  height:16px;
  display:flex;
}
#u13948 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u13948_img.selected {
}
#u13948.selected {
}
#u13948_img.disabled {
}
#u13948.disabled {
}
#u13948_img.selectedDisabled {
}
#u13948.selectedDisabled {
}
#u13948_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13948_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13949 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:366px;
  width:98px;
  height:28px;
  display:flex;
}
#u13949 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13949_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13952 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:371px;
  width:12px;
  height:12px;
  display:flex;
  color:#000000;
}
#u13952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u13953 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:371px;
  width:19px;
  height:19px;
  display:flex;
  color:#000000;
}
#u13953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13954 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:401px;
  width:56px;
  height:28px;
  display:flex;
}
#u13954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13954_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u13955 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:417px;
  width:168px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u13955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13956 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:450px;
  width:56px;
  height:28px;
  display:flex;
}
#u13956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u13957 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:466px;
  width:276px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u13957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13957_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13960 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:411px;
  width:32px;
  height:19px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13960_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(32, 81, 193, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13960.mouseOver {
}
#u13960_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(27, 69, 167, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13960.mouseDown {
}
#u13960_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13960.disabled {
}
#u13960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13961_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-5px;
  width:28px;
  height:28px;
}
#u13961 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:412px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13961_img.mouseOver {
}
#u13961.mouseOver {
}
#u13961_img.mouseDown {
}
#u13961.mouseDown {
}
#u13961_img.disabled {
}
#u13961.disabled {
}
#u13961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13964 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:458px;
  width:32px;
  height:19px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13964_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(32, 81, 193, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13964.mouseOver {
}
#u13964_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(27, 69, 167, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13964.mouseDown {
}
#u13964_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13964.disabled {
}
#u13964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13965_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-5px;
  width:28px;
  height:28px;
}
#u13965 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:459px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u13965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13965_img.mouseOver {
}
#u13965.mouseOver {
}
#u13965_img.mouseDown {
}
#u13965.mouseDown {
}
#u13965_img.disabled {
}
#u13965.disabled {
}
#u13965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13967 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:59px;
  width:466px;
  height:808px;
}
#u13968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
}
#u13968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#666666;
}
#u13968 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:44px;
}
#u13969 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:418px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u13969 .text {
  position:absolute;
  align-self:center;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
}
#u13970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:48px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#666666;
}
#u13970 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:44px;
}
#u13971 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:44px;
  width:418px;
  height:44px;
  display:flex;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u13971 .text {
  position:absolute;
  align-self:center;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:306px;
}
#u13972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:48px;
  height:306px;
  display:flex;
  color:#666666;
}
#u13972 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:306px;
}
#u13973 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:88px;
  width:418px;
  height:306px;
  display:flex;
  text-align:left;
  line-height:29px;
}
#u13973 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u13976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:394px;
  width:48px;
  height:45px;
  display:flex;
  color:#666666;
}
#u13976 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:45px;
}
#u13977 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:394px;
  width:418px;
  height:45px;
  display:flex;
  text-align:left;
  line-height:29px;
}
#u13977 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
}
#u13979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:439px;
  width:48px;
  height:44px;
  display:flex;
  color:#666666;
}
#u13979 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:44px;
}
#u13980 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:439px;
  width:418px;
  height:44px;
  display:flex;
  text-align:left;
  line-height:29px;
}
#u13980 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:325px;
}
#u13981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:483px;
  width:48px;
  height:325px;
  display:flex;
  color:#666666;
}
#u13981 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:325px;
}
#u13982 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:483px;
  width:418px;
  height:325px;
  display:flex;
  text-align:left;
  line-height:29px;
}
#u13982 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Bold', '思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13983 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:24px;
  width:72px;
  height:28px;
  display:flex;
  font-family:'思源黑体 CN Bold', '思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13983 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13983_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
