body {
  margin:0px;
  background-color:rgba(253, 247, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:632px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8709 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:28px;
  width:100px;
  height:60px;
  display:flex;
}
#u8709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u8710 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:137px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u8710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u8711 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:260px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u8711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8712 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:197px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8712_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:68px;
}
#u8712_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u8712_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8713 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:88px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8713_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:54px;
}
#u8713_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u8713_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8714 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:320px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8714_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:98px;
}
#u8714_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:78px;
  width:20px;
  height:20px;
}
#u8714_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:93px;
}
#u8715 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:413px;
  width:154px;
  height:93px;
  display:flex;
  line-height:18px;
}
#u8715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u8716 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:575px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u8716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8717 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:506px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8717_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:74px;
}
#u8717_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:54px;
  width:20px;
  height:20px;
}
#u8717_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u8718 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:692px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u8718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u8719 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:692px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u8719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8720 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:635px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8720_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:10px;
}
#u8720_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:34px;
}
#u8720_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:24px;
  width:78px;
  height:10px;
}
#u8720_seg3 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:24px;
  width:10px;
  height:33px;
}
#u8720_seg4 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:42px;
  width:20px;
  height:20px;
}
#u8720_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8721 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:635px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8721_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:10px;
}
#u8721_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:34px;
}
#u8721_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:24px;
  width:82px;
  height:10px;
}
#u8721_seg3 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:24px;
  width:10px;
  height:33px;
}
#u8721_seg4 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:42px;
  width:20px;
  height:20px;
}
#u8721_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8722 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:908px;
  width:100px;
  height:60px;
  display:flex;
}
#u8722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8723 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:752px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8723_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:29px;
}
#u8723_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:19px;
  width:78px;
  height:10px;
}
#u8723_seg2 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:19px;
  width:10px;
  height:30px;
}
#u8723_seg3 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:34px;
  width:20px;
  height:20px;
}
#u8723_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8724 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:752px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8724_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:29px;
}
#u8724_seg1 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:19px;
  width:82px;
  height:10px;
}
#u8724_seg2 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:19px;
  width:10px;
  height:30px;
}
#u8724_seg3 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:34px;
  width:20px;
  height:20px;
}
#u8724_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u8725 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:801px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u8725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8726 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:861px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8726_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:52px;
}
#u8726_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u8726_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u8727 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:574px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u8727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8728 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8728_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:176px;
  height:10px;
}
#u8728_seg1 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:-5px;
  width:10px;
  height:119px;
}
#u8728_seg2 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:99px;
  width:20px;
  height:20px;
}
#u8728_text {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u8729 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:692px;
  width:100px;
  height:60px;
  display:flex;
  line-height:18px;
}
#u8729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8730 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:634px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8730_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u8730_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u8730_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8731 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:752px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8731_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:133px;
}
#u8731_seg1 {
  border-width:0px;
  position:absolute;
  left:-253px;
  top:123px;
  width:258px;
  height:10px;
}
#u8731_seg2 {
  border-width:0px;
  position:absolute;
  left:-253px;
  top:123px;
  width:10px;
  height:33px;
}
#u8731_seg3 {
  border-width:0px;
  position:absolute;
  left:-258px;
  top:141px;
  width:20px;
  height:20px;
}
#u8731_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:120px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
