body {
  margin:0px;
  background-color:rgba(253, 247, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:98px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u192 {
  position:fixed;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
}
#u192_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 18px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:34px;
  -moz-box-shadow:0px 0px 4px rgba(94, 190, 255, 1);
  -webkit-box-shadow:0px 0px 4px rgba(94, 190, 255, 1);
  box-shadow:0px 0px 4px rgba(94, 190, 255, 1);
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:406px;
  width:24px;
  height:24px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:80px;
  width:100px;
  height:112px;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  display:flex;
  font-family:'思源黑体 CN Bold', '思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:100px;
  height:32px;
  display:flex;
  color:#0099FF;
  text-align:left;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:32px;
  display:flex;
  color:#0099FF;
  text-align:left;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
